/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;500;600;700;800&family=Press+Start+2P&display=swap');
/* MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
  display: flex;
  height: 80px;
  justify-content: center;
  border: rgb(0, 153, 255);
  border-radius: 10px;
}

header video {
  position: relative;
  width: 100%;
  object-fit: cover;
  overflow-y: 25px;
}

header h1 {
  position: absolute;
  z-index: 9999;
  color: #FFF;
  font-weight: 800;
  align-self: stretch;
}